<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- if we want to to do it with javascript  -->
    <!-- if(kindofday ==='Saturday' || kindofday ==='Sunday'){
    <h1 style="color: red"><%= kindofday %>To Do List</h1>
    }else{
    <h1 style="color: yellow"><%=kindofday%>To Do List</h1>
    } -->
    <!-- To do embed our code in EJS  we use scriplet tags(<%) and these work on control statements -->

    <!-- <% if(kindofday ==='Saturday' || kindofday ==='Sunday'){ %>
      <h1 style="color:blue"><%= kindofday %> To Do List</h1>
    <% } else { %>
      <h1 style="color: yellow"><%= kindofday %>To Do List</h1>
    <% } %> -->

    <h1><%= kindofday %></h1>
    
  </body>
</html>
